.controls {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
}

button { 
    color:rgb(0, 0, 0); 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-image:linear-gradient(to top, rgb(255, 0, 0), rgb(214, 214, 214));
    border:0px solid; 
    border-color: #696 #363 #363 #696;
    margin: 4px 2px; 
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size:x-large;
}

input {
    padding: 10px;

    margin-right: -10px;
    border-color: black;
    outline: none;
    box-shadow: none;
}