.controls {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
        position: fixed; /* or stickt? */
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
}

button { 
    color:rgb(0, 0, 0); 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-image:linear-gradient(to top, rgb(255, 0, 0), rgb(214, 214, 214));
    border:2px solid white; 
    margin: 4px 2px; 
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size:xx-large;
}
button:hover {
    border: 2px solid black; /* Black outline on hover */
    outline: none; /* Remove default outline */
}

input {
    padding: 20px;
    border-color: black;
    outline: none;
    box-shadow: none;
    font-size: x-large;
    width: 120px;
}


#inputContainer input {
    margin: 0; /* Remove default margin */
    display: inline-block; /* Adjust display to avoid extra space */
}
